.selectHeader {
    background-color: var(--background-secondary);
    border: none;
    border-radius: 5px;
    outline: none;
    color: var(--text-primary);
    width: 200px;
    box-shadow: 0 1px 10px rgba(27, 28, 38, 0.1);
    cursor: pointer;
    padding: 20px 30px 20px 30px;
}

.selectItem {
    cursor: pointer;
}

.selectHeaderText {
    position: relative;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectBody {
    display: none;
    position: absolute;
}

.show {
    display: block;
    background-color: var(--background-secondary);
    border: none;
    border-radius: 5px;
    outline: none;
    color: var(--text-primary);
    width: 200px;
    padding: 30px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    line-height: 200%;
    position: absolute;
}

@media (min-width: 1440px) {
    .filter {
        padding-top: 0;
    }
}
